@media (min-width: 402px) {
    #kontak {
        .sns {
            .sns-container {
                max-width: 100%;
            }
        }
    }
}

@media (min-width: 600px) {
    #navbar {
        .toggle {
            display: none;
        }

        nav {
            transform: translateY(0%);
            opacity: 1;
            height: auto;

            ul {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    #kontak {
        .form {
            .form-card {
                padding: 25px 40px;

                &.show {
                    padding: 25px 40px;
                }
            }
        }
    }

    aside {
        article {
            display: flex;
            flex-wrap: wrap;

            header {
                width: 200px;

                img {
                    width: 100%;
                }
            }

            section {
                padding: 0 25px;
                width: calc(100% - 200px);

                h3 {
                    text-align: left;
                }
            }
        }
    }
}

@media (min-width: 722px) {
    #gallery {
        .container {
            .cards-container {
                max-width: 680px;
            }
        }
    }
}

@media (min-width: 768px) {
    .box {
        width: 50%;
        max-width: 50%;
        text-align: left;
    }

    #section1 {

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .box {
            width: auto;
        }

        .logo {
            // flex-grow: 1;
            width: 30%;

            .logo-wrap {
                width: 150px;
                height: 150px;
                margin: 0 0 0 auto;
            }
        }

        .text {
            flex-grow: 1;
            width: 70%;
            margin: auto auto auto 0;
            text-align: left;
        }
    }

    #section2 {

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .img {
            flex-grow: 1;

            .main-image {
                width: 80%;
                margin: auto;
            }
        }
    }

    #gallery {
        .modal-frame {
            top: 40px;
            width: calc(100% - 250px);
            height: calc(100vh - 80px);
        }
    }
}

@media (min-width: 1060px) {
    #gallery {
        .container {
            .cards-container {
                max-width: 1021px;
            }
        }
    }
}

@media (max-width: 416px) {
    #section1 {
        .text {
            .button {
                a {
                    display: block;
                }
            }
        }
    }
}