@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,900;1,100;1,200;1,400;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',
        sans-serif;
    color: #f1f1f1;
}

body {
    background-color: rgba(45, 56, 60, 1);
}

.content {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

article {
    margin: 50px 0 0 0;
}

hr {
    opacity: .7;
}

.article-content {
    width: 100%;
    margin: 25px 0 0 0;
    text-align: center;

    h1,
    h2,
    h3,
    h4,
    p,
    ul {
        text-align: justify;
        margin-bottom: 20px;
    }

    p {
        text-indent: 4em;
    }

    ul {
        list-style: disc;
        margin-left: 4em;
    }

    table {
        width: 100%;
        border-radius: 15px;
        overflow: hidden;

        tr {

            th,
            td {
                border: none;
                padding: 5px 10px;
            }

            th {
                text-align: right;
            }

            td {
                text-align: left;
            }
        }

        tr:nth-child(odd) {
            background-color: rgba(255, 255, 255, .15);
        }
    }
}



figure {
    max-width: 700px;
    padding: 15px;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, .95);

    img {
        max-width: 100%;
    }

    figcaption {
        margin: 10px 0 0 0;
        font-size: .85em;
        font-weight: 500;
        opacity: .7;
        color: rgba(0, 0, 0, 1);
    }
}

figure.half {
    max-width: 40%;
}

figure.half:nth-child(odd) {
    float: left;
    margin-right: 20px;
}

figure.half:nth-child(even) {
    float: right;
    margin-left: 20px;
}

::-webkit-scrollbar {
    width: 0px;
}

.title {
    h1 {
        font-size: 2.5em;
    }

    p {
        opacity: .5;
        font-size: .9em;
    }
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    transform: scale(0);
    transition: all .25s ease-in-out;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    &.open {
        transform: scale(1);
    }
}

footer {
    margin: 0 0 50px 0;

    p {
        margin: 15px 0;
    }
}

#upBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    background: rgba(65, 76, 80, 1);
    transform: scale(0);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .4);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: all .25s ease-in-out;

    &:active {
        transform: translateY(10px);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, .4);

    }

    &.visible {
        transform: scale(1);
    }

    svg {

        width: 100%;
        height: 100%;
        shape-rendering: geometricPrecision;
        text-rendering: geometricPrecision;
        image-rendering: optimizeQuality;
        fill-rule: evenodd;
        clip-rule: evenodd;

        .str0 {
            stroke: #EBEBE7;
            stroke-width: 19.9961
        }

        .fil0 {
            fill: #EBEBE7
        }

    }
}

@media (max-width: 600px) {
    figure.half {
        max-width: 700px;
    }

    figure.half:nth-child(odd),
    figure.half:nth-child(even) {
        float: none;
        margin-right: 0;
        margin-left: 0;
    }
}